.capa-background{
    background: linear-gradient(47deg, #000113 0%, #04061D 80%, #04061D 100%);
    background-image: url('/public/assets/capa.png');
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    height: 80vh;
}

.capa-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.capa-container h1, .capa-container p{
    max-width: 500px;
    font-family: 'Anybody', cursive;
}

h1 {
    margin: 0;
    font-size: 60px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 70px;
}

.capa-container p{
    font-size: 30px;
    color: rgb(196,196,196);
}