.secao-contato{
    background-color: #05031b;
    color: #fff;
    text-align: center;
    width: 100%;
    padding: 100px 20px;
}

.contato-container{
    display: flex;
    justify-content: center;
}

.contato-card{
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 15px;
    text-align: left;
}

.contato-card img{
    width: 18px;
    object-fit: contain;
    display: flex;
    justify-content: start;
}

.contato-card p{
    display: inline;
    font-size: 14px;
    margin-left: 10px;
}

.social-icon {
    display: flex;
}